body {
    margin: 8px;
    background-color: rosybrown;
}

h1 {
    margin: 21px 0 21px;
    text-align: center;
}

p {
    margin: 16px 0 16px;
    text-align: center;
}

footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: pink;
}

.croissant-image {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

